.posts {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5.5rem;
}

.pagination {
  padding-top: 3rem;
}

@media (max-width: 767px) {
  .posts {
    row-gap: 2.5rem;
  }
}
