.posts {
  padding: 2rem 4rem 4rem;

  & > article {
    max-width: 800px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 767px) {
  .posts {
    padding: 2rem 1rem;
  }
}
