node_modules
.vscode
.idea
.next
npm-debug.log
.cache
serverConfig.json
server.production.js
nginx.conf
config/config.json
sessions

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.now
.env.build
.env*.local
