.social a {
  font-size: 30px;
  text-decoration: none;
  margin-right: 10px;
}

.social a span:before {
  color: #fff;
  transition: color .3s ease;
}

.social a:hover :global(.icon-facebook:before) {
  color: #2d88ff;
}
.social a:hover :global(.icon-instagram:before) {
  color: #e4405f;
}
.social a:hover :global(.icon-twitter:before) {
  color: #1da1f2;
}
.social a:hover :global(.icon-linkedin:before) {
  color: #4a76a8;
}
