@keyframes fade-out {
    from {
        background-color: rgba(#000, 1);
    }
    to {
        background-color: rgba(#000, .1);
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes from-right {
    0% {
        transform: translateX(-15rem);
    }
    70% {
        transform: translateX(3rem);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-50rem);
    }
    70% {
        transform: translateX(7rem);
    }
    100% {
        transform: translateX(0);
    }
}

.main_page {
    height: 100%;
    background-color: #000;
    opacity: 1;

    .image, .content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .image {
        background-image: url('http://res.cloudinary.com/cy6eria/image/upload/c_scale,w_2445/v1520800212/background.jpg');
        background-position: 30% 50%;
        background-size: cover;
        height: 100%;
    }

    .content {
        padding: 4rem;
        display: block;
        color: #fff;
        background-color: #000;
        animation-duration: 1s;
        animation-name: fade-out;
        animation-delay: .5s;
        animation-fill-mode: forwards;

        h1, h2 {
            margin: 0;
        }

        h1 {
            font-size: 5rem;
            line-height: 5rem;
            margin: 0 0 1rem;
            position: relative;
            transform: translateX(-50rem);

            animation-duration: .5s;
            animation-name: from-left;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
        }

        h2 {
            font-size: 3rem;

            span {
                opacity: 0;
                animation-duration: .5s;
                animation-name: fade-in;
                animation-fill-mode: forwards;

                &:nth-child(1) {
                    animation-delay: 2s;
                }

                &:nth-child(2) {
                    animation-delay: 2.5s;
                }

                &:nth-child(3) {
                    animation-delay: 3s;
                }
            }
        }
    }

    &__social_buttons {
        opacity: 0;
        position: absolute;
        bottom: 2rem;
        animation-duration: .5s;
        animation-name: fade-in;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;

        a span:before {
            color: #fff;
        }
    }

    @media (max-width: 1023px) {
        .image {
            background-image: url('http://res.cloudinary.com/cy6eria/image/upload/c_scale,w_1008/v1520800212/background.jpg');
        }
    }
    

    @media (max-width: 639px) {
        .content {
            padding: 2rem;

            h1 {
                font-size: 3rem;
                line-height: 3rem;
            }

            h2 {
                font-size: 2rem;

                span {
                    display: block;
                }
            }
        }   
    }
}
