.section ul {
  margin: 0;
  padding: 0 0 0 1rem;
  page-break-after: auto;
  list-style: '- ';
}

.position span {
  display: inline-block;
  border-bottom: 1px solid var(--light-yellow);
}

.period {
  text-align: right;
}

.company {
  font-weight: 600;
}

.address {
  display: inline;
  color: #aaa;
  font-style: normal;
}

.technologies b {
  font-weight: 600;
}

.technologies span:not(:last-child)::after {
  content: ', ';
}
