.page {
    padding: 2rem 7rem 2rem 2rem;

    > .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 100%;
        background: rgba(255,255,255,.75);
        opacity: 0;
        transition: opacity linear .3s;

        &.show {
            opacity: 1;
            left: 0;
        }
    }
}
