.post a {
  display: block;
  text-decoration: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
}

.post__picture {
  height: 20rem;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post__title {
  padding: 4rem 2rem 2rem;
  background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.2) 20%,
    rgba(0,0,0,0.4) 40%,
    rgba(0,0,0,0.6) 60%,
    rgba(0,0,0,0.8) 80%,
    rgba(0,0,0,1) 100%
  );
}

.post__header {
  font-size: 2rem;
  margin: 0 0 .5rem;
  font-weight: lighter;
}

.post__date {
  display: block;
  text-transform: capitalize;
}

.post__content {
  padding: 1.5rem;
  color: #000;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}

@media (max-width: 767px) {
  .post__picture {
    height: 12rem;
  }

  .post__header {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
