.post {
    a {
        text-decoration: none;
        color: #000;
    }

    &__header {
        h3 {
            font-size: 2.5rem;
            margin: 0 0 .5rem;
        }
    }

    &__date {
        display: block;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }

    &__read_more {
        padding: 1rem 0 0;

        a {
            display: inline-block;
            border: 1px solid #ddd;
            padding: .5rem 1rem;
            border-radius: .5rem;
        }
    }
}