.login {
    max-width: 47.5rem;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;

    &__row {
        margin-bottom: 1rem;
    }

    input {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #000;
        background: none;
        font-size: 2rem;
        margin: 0 auto;
    }

    button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 2rem;
        color: orangered;
    }
}
