.about-page {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;

    h1 {
        font-size: 3rem;
        margin: 0 0 2rem;
    }

    figure {
        margin: 0 0 1.5rem;
    }

    figcaption {
        margin: 1rem 0 1.5rem;
    }

    img {
        max-width: 100%;
    }
}
