.post_details {
    &__back_link {
        display: block;
        position: fixed;
        bottom: 2rem;
        left: 2rem;
        line-height: 2.5rem;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;

        svg polygon {
            fill: black;
        }

        svg, span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__header {
      margin: -2rem -4rem 4rem;
      padding: 24rem 4rem 2rem;
      color: white;
      background-position: center;
      background-size: cover;
      position: relative;

      h1 {
        max-width: 800px;
        font-size: 3rem;
        margin: 0 auto .5rem;
        word-wrap: break-word;
      }
    }

    &__date {
        max-width: 800px;
        display: block;
        margin: 0 auto 2rem;
        text-transform: capitalize;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;
    }

    img {
        max-width: 100%;
    }

    &__content, &__read_more {
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    &__read_more {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #ddd;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}

@media (max-width: 1199px) {
    .post_details {
        &__back_link {
            left: 1rem;
            bottom: 1rem;
            font-size: 1rem;

            span {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .post_details {
        &__header {
            margin: -2rem -1rem 2rem;
            padding: 14rem 1rem 2rem;
    
            h1 {
                font-size: 2rem;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        code {
            white-space: normal;
        }

        &__date {
            margin-bottom: 0;
        }

        &__back_link {
            display: none;
        }
    }
}
