.post_details {
    padding: 2rem 4rem 4rem;

    &__back_link {
        display: block;
        position: fixed;
        bottom: 2rem;
        left: 2rem;
        line-height: 2.5rem;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;

        svg polygon {
            fill: black;
        }

        svg, span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__header {
      margin: -2rem -4rem 4rem;
      padding: 24rem 4rem 2rem;
      color: white;
      background-position: center;
      background-size: cover;
      position: relative;

      h1 {
        max-width: 800px;
        font-size: 3rem;
        margin: 0 auto .5rem;
      }
    }

    &__date {
        max-width: 800px;
        display: block;
        margin: 0 auto 2rem;
        text-transform: capitalize;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;
    }

    img {
        max-width: 100%;
    }

    &__content, &__read_more {
        max-width: 800px;
        margin: 0 auto;
    }

    &__read_more {
        margin-top: 4rem;
        border-top: 1px solid #ddd;
    }

    &__read_more_items {
      & > a {
        text-decoration: none;
        color: black;
        display: block;
        
        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        header {
          background-size: cover;
          background-position: center;
          padding: 15rem 2rem 2rem;

          & + div {
            border: 1px solid #ddd;
            border-top: none;
            padding: 2rem 2rem 0;
          }
        }

        h4 {
          margin: 0;
          color: white;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
}

.post_details__nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.post_details__not_found {
  text-align: center;
  padding-top: 7rem;
}

.post_details .post_details__404 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 0;
}

@media (max-width: 1199px) {
    .post_details {
        &__back_link {
            left: 1rem;
            bottom: 1rem;
            font-size: 1rem;

            span {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .post_details {
        padding: 2rem 1rem;

        &__header {
            margin: -2rem -1rem 2rem;
            padding: 14rem 1rem 2rem;
    
            h1 {
                font-size: 2rem;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        code {
            white-space: normal;
        }

        &__date {
            margin-bottom: 0;
        }

        &__back_link {
            display: none;
        }

        &__read_more_items > a header {
            padding: 10rem 1rem 1rem;

            & + div {
                padding: 1rem 1rem 0;
            }

            h4 {
                font-size: 1.5rem;
            }
        }
    }
}
