.post_details {
    padding: 2rem 4rem 4rem;

    h1:first-child {
        font-size: 3rem;
        margin: 0 0 .5rem;
    }

    &__date {
        display: block;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .post_details {
        padding: 2rem 1rem;
    }
}
